<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon</title>
    </head>
    <body>
        <h1>Hair Salon</h1>
        {% if stylists is not empty %}
            <h3>All Stylists</h3>
            <ul>
                {% for stylist in stylists %}
                    <li>{{ stylist.getName }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action='/' method='post'>
            <h3>Add a New Stylist</h3>
            <label for='name'>Stylist's Name:</label>
            <input type='text' id='name' name='name'>
            <button type='submit'>Add</button>
        </form>
    </body>
</html>
